/* new design */


/* ---------------- FONTS ----------- */
@font-face {
	font-family: Arvo-Bold;
	src: url(/fonts/arvo/Arvo-Bold.ttf);
}
@font-face {
	font-family: Arvo-BoldItalic;
	src: url(/fonts/arvo/Arvo-BoldItalic.ttf);
}
@font-face {
	font-family: Arvo-Italic;
	src: url(/fonts/arvo/Arvo-Italic.ttf);
}
@font-face {
	font-family: Arvo-Regular;
	src: url(/fonts/arvo/Arvo-Regular.ttf);
}
/* ---------------- FONTS ------------ */




/* BORDERS FOR DEVELOPMENT ------- */
/*.green {border: 1px solid green;}
.blue {border: 1px solid blue;}
.white {border: 1px solid white; }*/


div.w {
	font-family: Arvo-Regular;
	font-weight: 100;
	color: white;
	margin: auto;
	display: inline-block;
	width: 550px;
	height: 425px;
  	display: block;
  	position: relative;
  	z-index: 1; /* to go around the background image of -1 */
	background-color: black;
}
.huffpostlabs-quiz-new {
	font-family: Arvo-Regular;
	font-weight: 100;
	color: white;
	margin: auto;
	display: inline-block;
	width: 550px;
	height: 425px;
  	display: block;
  	position: relative;
  	z-index: 1; /* to go around the background image of -1 */
	background-color: black;

}.huffpostlabs-quiz-new::after{
	content: "";
	opacity: 0.7;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
/*.quiz-53039d7f218ff31f2ae49c54::after {
	background-image: url("/designs/images/bg.png");
}*/

.slides-container {
	position: absolute;
	top: 2%;
	bottom: 2%;
	left: 2%;
	right: 2%;
	overflow: hidden;
}
/* font stuff */
.huffpostlabs-quiz-new p,
.huffpostlabs-quiz-new h1,
.huffpostlabs-quiz-new h2,
.huffpostlabs-quiz-new h3 {
	padding: 0;
	margin: 0;
}
.huffpostlabs-quiz-new h1{
	font-size: 3.5em;
	margin: 0 15px;
}
.huffpostlabs-quiz-new.mobile h1 {
	font-size: 1.6em;
}
.huffpostlabs-quiz-new h2 {
	font-size: 2em;
}
.huffpostlabs-quiz-new.mobile h2 {
	font-size: 1.3em;
}
.huffpostlabs-quiz-new h3 {
	font-size: 1.5em;
}
.huffpostlabs-quiz-new.mobile h3 {
	font-size: 1.2em;
}

/* --------- TITLE CONTAINER ------ */
.huffpostlabs-quiz-new .title-container {
	position: absolute;
	height: 100%;
	width: 100%;
}
.huffpostlabs-quiz-new .title-container .filler-left {
	width: 23%;
	top: 20%;
	height: 80%;
	position: absolute;
}

.huffpostlabs-quiz-new .title-container .filler-square {
	position: absolute;
	right: 0;
	width: 35%;
}
.huffpostlabs-quiz-new .title-container .title-content {
	width: 76.8%;
	height: 80%;
	top: 20%;
	right: 0;
	position: absolute;
	border-left: 1px solid white;
}
.huffpostlabs-quiz-new .title-container .title-content 
.share-container {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 8px;
}
.huffpostlabs-quiz-new .share-container .embed-code input {
	border: 1px solid white;
	font-size: 1em;
	background-color: transparent;
	color: white;
	padding: 5px;
	margin: 0;
	vertical-align: top;
}
.huffpostlabs-quiz-new .start-container {
	cursor: pointer;
}
.huffpostlabs-quiz-new .start-container:hover {
	background-color: rgba(255,255,255,0.4);
}
.huffpostlabs-quiz-new .start-container .start-text {
	font-weight: 100;
	padding: 4%;
}
/* --------- TITLE CONTAINER above ------ */

/* --------- QUESTION CONTAINER ------ */
.huffpostlabs-quiz-new .question-answers-container {
	position: absolute;
	top: 0%;
	height: 100%;
	left: 0%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	border-top: 1px solid white;
}
.huffpostlabs-quiz-new .question-container {
	border-bottom: none;
	height: 49%;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.huffpostlabs-quiz-new .question-text {
	padding: 0.5em;
	font-size: 2.5em;
	font-weight: 100;
}
.huffpostlabs-quiz-new .answers-container {
	height: 49%;
	border: 1px solid white;
	border-top: 0;
	display: inline-flex;
	position: absolute;
	left: 0;
	right: 0;
}

.huffpostlabs-quiz-new .answer-container {
	height: 100%;
	width: 49%;
	display: inline-block;
	position: absolute;

	/* background: url('pic_url') */
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
.huffpostlabs-quiz-new .answer-container:hover,
.huffpostlabs-quiz-new .answer-container.selected,
.huffpostlabs-quiz-new .answer-container:active {
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}
.huffpostlabs-quiz-new .answer-1-container {
	border-right: 1px solid white;
	left: 0;
}
.huffpostlabs-quiz-new .answer-2-container {
	right: 0;
}
.huffpostlabs-quiz-new .answer-text {
	margin: 0.8em;
}
.huffpostlabs-quiz-new.mobile .answer-text {
	margin: 0.4em;
}

/* --------- QUESTION CONTAINER above ------ */


/* --------- OUTCOME CONTAINER  ----------- */
.huffpostlabs-quiz-new .outcome-container {
	position: absolute;
	top: 0%;
	height: 100%;
	left: 0%;
	width: 100%;
}
.huffpostlabs-quiz-new .outcome-container .outcome-content{
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.6);

	/* background: url('pic_url') */
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
.huffpostlabs-quiz-new .outcome-text {
	color: black;
	font-family: Arvo-Bold;
	padding: 0.5em;
}

/* --------- OUTCOME CONTAINER above ------ */


/* --------- MOBILE ------ */
.huffpostlabs-quiz-new.mobile {
	width: 300px;
	height: 270px;
}
.huffpostlabs-quiz-new.mobile .share-container .embed-code{
	display: none;
}

/* --------- MOBILE above ------ */





/* Share ---- */

.fb-share-btn:hover, .twitter-share-btn:hover {
	cursor: pointer;
	opacity: 0.9;
}











/* swipe related styles */
div.huffpostlabs-quiz .swipe-container div.swipe-slide div.question,
div.huffpostlabs-quiz .swipe-container div.swipe-slide div.outcome { /* should be div.question, div.outcome */
  display:block;
}

div.huffpostlabs-quiz .swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
div.huffpostlabs-quiz .swipe-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}
div.huffpostlabs-quiz .swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}

/*
	total width: 550px;

*/


div.huffpostlabs-quiz {
	width: 550px;
	/*height: 450px;*/
	margin: auto;
	font-family: Arial;
	border-left: 2px dashed gray;
	border-right: 2px dashed gray;
	border: 1px solid lightgray;
}
div.huffpostlabs-quiz.mobile {
	/*border: 2px solid green;*/
	width: 90%;
	height: auto;
}

@media (max-width: 340px) {
	div.huffpostlabs-quiz.mobile {
		width: 300px;
		height: 350px; /* keep the width:height ratio always 7:6 for non-mobile*/
	}
}
div.huffpostlabs-quiz .quiz-title {
	padding: 8px;
	margin: 0 10px 10px 10px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid gray;
}
div.huffpostlabs-quiz .question-text {
	display: block;
	float: none;
	width: 100%; /* change to 210 after getting rid of borders */
}
div.huffpostlabs-quiz .question-text p{
	text-align: center;
	font-size: 16px;
	padding: 5px 3px;
}

div.huffpostlabs-quiz .answer {
	display: inline-block;
	width: 49%;
	height: 100%;
}
div.huffpostlabs-quiz .answer:hover,
div.huffpostlabs-quiz .answer:active {
	opacity: 0.5;
	background-color: whitesmoke;
}

div.huffpostlabs-quiz .answer-img {
	width: 100%;
	height: auto;
}
div.huffpostlabs-quiz .answer-text p{
	text-align: center;
	margin: 0;
	padding: 5px 9px;
	font-size: 14px;
	font-weight: bold;
}


div.huffpostlabs-quiz .outcome {
	width: 100%;
}
div.huffpostlabs-quiz .outcome-img {
	max-width: 100%;
	max-height: 100%;
}
div.huffpostlabs-quiz .outcome-text {
	text-align: center;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
}





