/* swipe related styles */

.swipe-container {
	height: 258px;
}


.swipe-container div.swipe-slide div.question,
.swipe-container div.swipe-slide div.outcome { /* should be div.question, div.outcome */
  display:block;
  border: 1px solid red;
  height: 258px;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}

/*
	total width: 550px;
	each answer width: 170px;
		x2 = 340px
	-> question width: 210px;

	total height: 300px;
	title height+padding = 41px
		-> remaining height = 259px
*/


div.huffpostlabs-quiz {
	width: 550px;
	height: 300px;
	margin: auto;
	font-family: Arial;
	border: 2px solid gray;
}
div.huffpostlabs-quiz .quiz-title {
	padding: 8px;
	margin: 0 10px;
	height: 25px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid gray;
}
div.huffpostlabs-quiz .question-text {
	display: inline-block;
	float: left;
	width: 204px; /* change to 210 after getting rid of borders */
}
div.huffpostlabs-quiz .question-text p{
	text-align: center;
	font-size: 16px;
	padding: 20px;
	padding-top: 25px;
}


.huffpostlabs-quiz .answer,
div.huffpostlabs-quiz .answer {
	display: inline-block;
	width: 170px;
	height: 100%;
}
div.huffpostlabs-quiz .answer:hover,
div.huffpostlabs-quiz .answer:active {
	opacity: 0.5;
	background-color: whitesmoke;
}
div.huffpostlabs-quiz .answer-left {
	float: left;
}
div.huffpostlabs-quiz .answer-right {
	float: right;
}

div.huffpostlabs-quiz .answer-img {
	width: 170px;
	height: 170px;

}
div.huffpostlabs-quiz .answer-text p{
	text-align: center;
	margin: 0;
	padding: 5px 9px;
	font-size: 14px;
	font-weight: bold;
}


.huffpostlabs-quiz .outcome-img {
	width: 232px;
	height: 232px;
}
.huffpostlabs-quiz .outcome-text {
	text-align: center;
	width: 300px;
	display: inline-block;
	margin: auto;
}





