<!-- edit outcomes partial -->

<div class="outcome" ng-class="{'editing':(outcome.editing)}" ng-repeat="outcome in quiz.outcomeList">
	<p class='bold display-inline'>{{$index + 1}}.</p>
	<p ng-if="outcome.answerList.length" class='display-inline btn-helper'>( {{outcome.answerList.length}} answer<span ng-if="outcome.answerList.length>1">s</span> reference<span ng-if="outcome.answerList.length==1">s</span> this outcome )</p>

	<div class='remove-edit-btns'>
		<p ng-if="quiz._id&&outcome._id" class='display-inline btn-helper'>{{outcome.saved}}</p>
		<button ng-disabled="quiz.type!='trivia'&&(outcome.answerList.length>0||quiz.outcomeList.length<2)" ng-click="removeOutcome(outcome)" class='btn btn-xs btn-danger remove-outcome'>X</button>
		
		<button ng-show="!outcome.editing" ng-click="outcome.editing=true" class='btn btn-xs btn-warning edit-outcome'>EDIT</button>
		<button ng-show="outcome.editing" ng-click="saveOutcome(outcome)" class='btn btn-xs btn-success'>
			<span ng-if="quiz._id&&outcome.saved">SAVE</span>
			<span ng-if="!(quiz._id&&outcome.saved)">OK</span>
		</button>
	</div>
	<p class="bold error" ng-show="outcome.error.empty">Hey this outcome is empty</p>

	<span ng-show="outcome.editing==true" class='edit-outcome-container'>			
		<span ng-if="quiz.type!='trivia-quiz'">
			<label>Text</label>
			<input ng-change="outcome.saved='unsaved';outcome.error.text=false" ng-class="{'error':outcome.error.text}" type='text' ng-model='outcome.text' />
		</span>

		<label>Description</label>
		<textarea maxlength="250" ng-change="outcome.saved='unsaved'" ng-model='outcome.description'></textarea>

		<img-input-label max-size="600" model="outcome"></img-input-label>
		<input ng-change="outcome.saved='unsaved'" id='outcome-pic-url' type="url" ng-model="outcome.pic_url" placeholder="http://dogecoin.com/img/dogecoin-300.png">

		<span ng-show="outcome.pic_url || outcome.pic_credit">
			<label>Photo Credit</label>
			<input ng-change="outcome.saved='unsaved'" id='new-outcome-pic-credit' type='text' ng-model='outcome.pic_credit' />

			<label>Image/GIF styling</label>
			<select ng-change="outcome.saved='unsaved'" class="popover-hover" data-original-title="Image/GIF Styling" data-container="body" data-toggle="popover" data-placement="right" data-content="Default: bottom-right" ng-model='outcome.pic_style' ng-options="s for s in ['bottom-right', 'float-right', 'cover', 'contain']" >
				<option value="">IMAGE/GIF STYLING</option>
			</select>
		</span>

		<span ng-if="quiz.type=='trivia-quiz'">
			<p class='warning'>Better input field for editors coming... design help/input appreciated</p>
			<label>
				For minimum correct:
				<!-- <select class='min-correct' ng-change="outcome.saved='unsaved'" ng-model="outcome.rules.min_correct" ng-options="i for i in [0,1,2]">{{outcome.rules.min_correct || ''}}</select> -->
				<input placeholder="0" ng-class="{'error':outcome.error.min_correct}" class='min-correct' ng-change="outcome.saved='unsaved'" ng-model="outcome.rules.min_correct" type='number' />
			</label>
		</span>
	</span>

	<div class="huffpostlabs-quiz quiz-edit" ng-class="{'mobile':viewMobile}">
		<div class="slides-container">
			<!-- directive fills in the content -->
			<div outcome-container class="slide outcome-container"></div>
		</div>
	</div>
</div>

<button ng-click="addOutcome()" id='add-outcome-btn' class='btn btn-sm btn-default'> + </button>
