
<label><i class='required-star'>*</i>Title</label>
<input id='quiz-title' placeholder="YOUR TITLE HERE" type='text' ng-model='quiz.title' />

<img-input-label max-size="600" model="quiz"></img-input-label>
<input ng-change="updateQuizPic()" id='quiz-pic-url' type="url" ng-model="quiz.pic_url">

<span ng-show="quiz.pic_url || quiz.pic_credit">
	<label>Photo Credit</label>
	<input id='quiz-pic-credit' type='text' ng-model='quiz.pic_credit' />
</span>

<div class="huffpostlabs-quiz quiz-edit" ng-class="{'mobile':viewMobile, 'trivia-quiz': quiz.type=='trivia-quiz'}">
	<div class="slides-container">
		<div class="slide title-container"></div>
	</div>
</div>

<!-- ********************* set-refresh-icon *********************  -->
<div class='subsection' id='set-refresh-icon'>
	<h5>
		<button ng-show="hideRefreshIcon==false" ng-click="hideRefreshIcon=true" class='btn btn-xs btn-default hide-show-btn hide-btn'> - </button>
		<button ng-show="hideRefreshIcon||hideRefreshIcon==undefined" ng-click="hideRefreshIcon=false" class='btn btn-xs btn-default show-btn hide-show-btn'> +  </button>
		Custom Refresh Icon
		<span style="margin-left:5px;" ng-show="hideRefreshIcon!=false" class='inline-block btn-helper'>  (optional)</span>
	</h5>

	<span ng-show="hideRefreshIcon==false">
	<p class='instructions-text'>
		You can optionally customize the icon on the refresh button that appears at the end of the quiz.  Use a GIF or image.
		Dimensions: 30x30
	</p>

	<div class="huffpostlabs-quiz quiz-edit" ng-class="{'mobile':viewMobile}">
		<div class='outcome-container'>
			<div class="share-container">
				<div class="fb-share-container">
					<img width="30px" height="30px" class="share fb-share-btn touchable" src="/icon/fb-icon.png">
					<img width="30px" height="30px" class="share fb-share-btn-blue touchable" src="/icon/fb-icon-blue.png">
				</div>
				<div class="twitter-share-container">
					<img width="30px" height="30px" class="twitter-share-btn share touchable" src="/icon/twitter-icon.png">
					<img width="30px" height="30px" class="twitter-share-btn-blue share touchable" src="http://quiz.huffingtonpost.com/icon/twitter-icon-blue.png">
				</div>
				<div class="share-text"><p>Share your results</p></div>
				<img width="30px" height="30px" class="refresh-btn touchable" ng-src="{{quiz.refresh_icon_url || '/icon/refresh.png'}}">
			</div>
		</div>
	</div>
	<label class="popover-hover" data-original-title="Refresh Icon URL" data-container="body" data-toggle="popover" data-placement="right" data-content="Make sure this URL starts with 'http://' or 'https://'.  Image should be square and between 50x50 and 20x20 pixels.">Image or GIF URL</label>
	<input id='quiz-refresh-icon-url' type="url" ng-model="quiz.refresh_icon_url" placeholder="http://quiz.huffingtonpost.com/icon/refresh.png">

	</span> <!-- hide/show RefreshIcon -->
</div> <!-- ********************* set-refresh-icon *********************  -->

<div class='subsection' id='custom-styling'>
	<h5>
		<button ng-show="hideCustomStyling==false" ng-click="hideCustomStyling=true" class='btn btn-xs btn-default hide-show-btn hide-btn'> - </button>
		<button ng-show="hideCustomStyling||hideCustomStyling==undefined" ng-click="hideCustomStyling=false" class='btn btn-xs btn-default show-btn hide-show-btn'> +  </button>
		Custom Styling
		<span style="margin-left:5px;" ng-show="hideCustomStyling!=false" class='inline-block btn-helper'>  (optional)</span>
	</h5>

	<span ng-show="hideCustomStyling==false">
		<a target="_blank" href="/documentation/custom-quiz-styling">See Documentation</a>
		<textarea placeholder="YOUR CUSTOM CSS" ng-model="quiz.custom_styles"></textarea>
	</span>
</div> <!-- custom-styling -->