<!-- quizzes.html directive template -->

<div id='quizzes-view'>
  <div id='filter'>
    <img class='clickable' ng-click="showFilter=!showFilter" src="/img/search-icon.png" />
    <span ng-show="showFilter" id='filter-options'>
      <div class='display-inline' id='searchBy'>
        <input ng-model="searchText">
      </div>

      <div id='orderBy'>
        <span>Order by</span>
        <select ng-model="order" ng-options="op for op in orderOptions">
          <option value="">newest</option>
        </select>
      </div>
    </span>
  </div>

  
  <div class='row quiz-and-embed-container' ng-repeat="q in quizList | filter:{$:searchText} | orderBy:(order||'date_created'):true" >
    <div class='col-sm-8' class='quiz-container'>
      <div class="huffpostlabs-quiz" id="{{q._id}}"></div>
    </div>

    <div class='col-sm-4'>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a ng-href="/user/{{q._user.twitter_username}}" ng-if="q._user._id">Owner: {{q._user.twitter_displayname || q._user.twitter_username}}</a>
          <a ng-click="claimQuiz(q)" ng-if="user._id&&!q._user._id" href="#">Claim Ownership</a>
        </li>
        <li><a ng-href="/stats/{{q._id}}">View Stats</a></li>
        <li><a owner-only-element ng-href="/edit/{{q.type}}/{{q._id}}">Edit</a></li>
        <li><a owner-only-element ng-href="/social/{{q._id}}">Customize Sharing</a></li>
        <li>
          <a ng-show="!q.showEmbed" ng-click="q.showEmbed=true" href="">Embed in HTML</a>
          <a ng-show="q.showEmbed" ng-click="q.showEmbed=false" href="">Hide Embed Code</a>

          <pre class="embed-code" ng-show="q.showEmbed">&lt;div class="huffpostlabs-quiz" id="{{q._id}}"&gt;&lt;/div&gt;&lt;script src="http://quiz.huffingtonpost.com/widget/q.js"&gt;&lt;/script&gt;&lt;p id="labs-credit"&gt;&lt;a href="http://code.huffingtonpost.com"&gt;Quiz widget by &lt;img height="23px" src="http://quiz.huffingtonpost.com/img/huffpostLABS_outline.png" /&gt;&lt;/a&gt;&lt;/p&gt;</pre>
        </li>

        <li owner-only-element class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">
            More <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a target="_blank" ng-href="/quiz/public/{{q._id}}">View Public Page</a></li>
            <li><a href="" ng-click="relinquishQuiz(q)">Relinquish Ownership</a></li>
            <li><a href="" ng-click="delete(q)">Delete</a></li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</div>

