.bold {
	font-weight: bold;
}
.text-decoration-none, .text-decoration-none:hover {
	text-decoration: none;
}
input.error, select.error, textarea.error {
	border-color: red;
}

.inline-block { display: inline-block; }
.btn-helper { color: gray; }

body {
	background-color: white;
}
.header{
	border-bottom: 2px solid aquamarine;
	margin:10px;
}
footer {
	text-align: center;
	border-top: 2px solid lavender;
	padding: 15px;
}

.view {
	/*border: 1px solid purple;*/
}

/********************** base *************************/
#mvp {
	color: crimson;
	font-size: 18px;
	margin-left: 10px;
}

/********************** index-page ******************/

/* ---- take out once mvp stuff is out */
section#mvp-explainer .mvp-btn,section#preview .preview-btn {
	margin-bottom: 10px;
}
section#mvp-explainer #mvp-text-container,section#preview #preview-text-container {
	border-bottom: 3px solid lavenderblush;
	margin-bottom: 15px;
}
section#preview #preview-text-container img{
	margin: 10px;
}
/* ---- take out once mvp stuff is out */




#index-page, #social-page {
	min-height: 400px;
	max-width: 900px;
	margin: auto;
}
#index-page #create-new-btn {
	float: right;
}

#index-page .quiz-and-embed-container {
	margin-top: 30px;
	padding: 30px 0;
	border-bottom: 3px solid lavenderblush;
}
#index-page .quiz-container,
#index-page .embed-container,
#index-page .quiz-and-embed-container h4 {
	display: inline-block;
}



/********************** index-page above ******************/


/********************** quiz-page ******************/

#quiz-page section {
	width: 750px;
	margin: 30px auto;
	padding-bottom: 15px;
}#quiz-page section#quiz-embed,#quiz-page section#quiz-delete {
	max-width: 550px;
}
#quiz-page th {
	color: purple;
}
#quiz-page td.text {
	color: gray;
}
#quiz-page td.number {
	color: brown;
}
/********************** quiz-page above ******************/


/********************** new-page ******************/

#new-page section {
	width: 550px;
	margin: 30px auto;
	padding-bottom: 15px;
}
#new-page .required-star {
	color: red;
	margin-right: 5px;
}
#new-page section#set-title, 
#new-page section#set-outcomes, 
#new-page section#set-questions{
	border-bottom: 1px solid lightgray;
}
#instructions-text {
	padding: 10px;
	color: gray;
}

#new-page #outcomes {
	margin-bottom: 10px;
}


#new-page label {
	display: block;
	margin-top: 5px;
}
#new-page input, #new-page select {
	padding: 3px 8px;
	width: 100%;
	border: 2px solid lightblue;
}
#new-page select {
	font-size: 16px;
}
#new-page input.error,
#new-page select.error {
	border: 3px solid red;
}
#new-page .huffpostlabs-quiz {
	margin: 10px auto;
}

#new-page #new-question-answer-1, #new-page #new-question-answer-2 {
	width: 265px;
	display: inline-block;
}
#new-page #new-question-answer-1 {
	margin-right: 15px;
}
#new-page #instructions .btn {
	font-weight: bold;
}
#new-page #set-complete p {
	margin-left: 30px;
	color: gray;
}
/********************** new-page above ******************/



