
.bold { font-weight: bold; }
.display-block { display: block; }
.display-inline { display: inline; }
.inline-block { display: inline-block; }
.text-decoration-none, .text-decoration-none:hover { text-decoration: none; }

.warning {
	color: #FF7F00;
}

input.error, select.error, textarea.error, input.ng-invalid {
	border-color: red;
}
p.error, h3.error, .error h3,
#new-page #set-complete p.error {
	color: red;
}

.btn-helper { color: gray; }



/********************** base *************************/

body { 
	border-top: 1px solid transparent; /* clear */ 
	background-color: white;
}
#view {
	margin-top: 60px; /* fixed header has height 60px */
}
.header{
	position: fixed;
	right: 0;
	width: 100%;
	height: 60px;
	background-color: white;
	opacity: 0.4;
	z-index: 2; /* make it clickable above other content */
}
.header:hover, .header.error {
	opacity: 0.8;
}
.header .nav>li>a { /* override bootstrap */
	color: gray;
	font-size: 18px;
}
.header nav .error {
	margin: 20px;
	padding: 5px;
	background-color: #FFEBCD; /* AKA blanchedalmond;*/
	color: red;
	font-size: 28px;
}
/* have the labs image magically show only when nav header is hovered */
.header .brand {
	display: none;
}
.header:hover .brand {
	display: inline-block;
}
.header .username {
	position: fixed;
	top: 50px;
	right: 20px;
}
/* have the labs image magically show only when nav header is hovered */

footer {
	text-align: center;
	border-top: 2px solid lavender;
	padding: 15px;
}

#mvp {
	color: crimson;
	font-size: 18px;
	margin-left: 10px;
}

/********************** index-page ******************/

#index-page .announcement {
	margin: auto;
	width: 70%;
	color: red;
	min-height: 140px;
	margin-bottom: 30px;
}

#welcome-container a {
	color: #8B008B;
}

#index-page #welcome-container{
	text-align: center;
	padding-top: 60px;
	min-height: 590px;
}
#index-page #welcome-container .right {
	padding: 65px 50px;
}
#index-page #create-new-btn,
#index-page #sign-in-btn {
	color: gray;
	font-weight: bold;
}

#product-title {
	color: #20b2aa;
	font-size: 55px;
}
#index-page .view-quizzes-btn {
	width: auto;
	display: block;
	border-top: 1px solid gray;
	text-align: center;
	height: 120px;
	padding-top: 40px;
	font-size: 20px;
	color: gray;
	text-decoration: none;
}
#index-page .view-quizzes-btn:hover{
	background-color: #e0ffff;
	border-color: #6BCAE2;
}
#index-page #filterBy {
	display: none;
}

/********************** index-page above ******************/

/********************** quizzes-view ******************/



#quizzes-view .quiz-and-embed-container {
	margin-top: 30px;
	padding: 30px 0;
}
#quizzes-view .quiz-and-embed-container li a{
	color: gray;
	display: inline-block;
}
.embed-code {
	margin: 20px;
}

/********************** quizzes-view above ******************/


/********************** all-users-page ******************/

#all-users-page .title {
	display: inline-block;
}
#all-users-page #filterBy {
	float: right;
	margin-top: 30px;
}
 #filterBy input {
	border-radius: 8px;
	border: 1px solid #5F9EA0;
}

#all-users-page .user-container {
	border: 1px solid #5F9EA0;
	border-radius: 6px;
	background-color: #F5FFFA;
	margin: 10px 0px;
}
#all-users-page .user-container .list-group-item.active{
	border-color: #5F9EA0;
	background-color: #5F9EA0;
}
#all-users-page .user-container .displayname {
	font-weight: bold;
}
#all-users-page .user-container .username {
	float: right;
}
#all-users-page .quizzes-view {
	padding: 0px 15px;
}

/********************** all-users-page ******************/

/********************** quiz-page ******************/

#quiz-page .disclaimer {
	text-align: center;
	color: red;
	margin-top: 50px;
}

#quiz-page section {
	max-width: 550px;
	margin: 30px auto;
	padding-bottom: 15px;
}
#quiz-page .outcome-pic {
	margin-right: 5px;
}
#quiz-page th,#quiz-page label {
	color: purple;
}
#quiz-page .text {
	color: gray;
}
#quiz-page #stats .number {
	color: brown;
}
#quiz-page #quiz-stats {
	margin-bottom: 40px;
}
/********************** quiz-page above ******************/


/********************** new-page and edit-page ******************/

#new-page #build-container section,
#edit-page #build-container section{
	width: 550px;
	margin: 30px auto;
	padding-bottom: 15px;
}
#new-page #helper-container,
#edit-page #helper-container {
	margin-top: 50px;
}
#new-page .required-star,
#edit-page .required-star{
	color: red;
	margin-right: 5px;
}
#new-page section#set-title, 
#new-page section#set-outcomes, 
#new-page section#set-questions, 
#new-page section#set-sharing,
#edit-page section#set-title, 
#edit-page section#set-outcomes, 
#edit-page section#set-questions, 
#edit-page section#set-sharing{
	border-bottom: 1px solid lightgray;
}
.instructions-text {
	padding: 10px;
	color: gray;
	font-style: normal;
}

#edit-page .hide-show-btn {
	margin-right: 10px;
}

#new-page .outcome,
#edit-page .outcome {
	margin-bottom: 10px;
}
#edit-page .outcome.editing,
#edit-page .question.editing {
	border-top: 1px solid lightblue;
	bor der-bottom: 1px solid lightblue;
	margin: 20px 0;
	padding: 20px 0;
}
#new-page .remove-outcome,
#new-page .delete-new-answer-btn,
#new-page .delete-question-btn,
#edit-page .remove-outcome,
#edit-page .delete-question-btn {
	float: right;
}
#new-page .remove-edit-btns p.btn-helper,
#edit-page .remove-edit-btns p.btn-helper {
	float: left;
}
#new-page .remove-edit-btns,
#edit-page .remove-edit-btns {
	float: right;
}
#new-page .remove-edit-btns .btn,
#edit-page .remove-edit-btns .btn{
	float: right;
	margin: 0 5px;
}


#new-page label,
#edit-page label {
	display: block;
	margin-top: 5px;
}
#new-page input, #new-page select, #new-page textarea,
#edit-page input, #edit-page select, #edit-page textarea {
	padding: 3px 8px;
	width: 100%;
	border: 2px solid lightblue;
}
#new-page .embed-code input,
#edit-page .embed-code input{ /* widget.css was overridden */
	width: auto;
	border: 1px solid white;
	color: white;
}
#new-page select,
#edit-page select {
	font-size: 16px;
}
#new-page input.error,
#new-page select.error,
#edit-page input.error,
#edit-page select.error {
	border: 3px solid red;
}
#new-page .huffpostlabs-quiz,
#edit-page .huffpostlabs-quiz {
	margin: 10px auto;
}

#new-page .new-answer,
#edit-page .answer {
	width: 100%;
}
#new-page .answer .answer-label,
#edit-page .answer .answer-label {
	padding: 5px 0;
	border-bottom: 3px solid lavenderblush;
}
#new-page .answer-inputs input,
#new-page .answer-inputs select,
#edit-page .answer-inputs input,
#edit-page .answer-inputs select {
	width: 48%;
	margin-bottom: 10px;
}
#new-page #instructions .btn,
#edit-page #instructions .btn {
	font-weight: bold;
	margin-top: 20px;
}
#new-page section#set-refresh-icon .huffpostlabs-quiz,
#edit-page section#set-refresh-icon .huffpostlabs-quiz {
	height: 50px;
	padding: 2%;
}
#new-page section#set-refresh-icon input,
#edit-page section#set-refresh-icon input {
	margin-bottom: 10px;
}
#new-page #set-complete p {
	margin-left: 30px;
	color: gray;
}
/********************** new-page and edit-page above ******************/


/********************** social-page  ******************/
#social-page {
	min-height: 400px;
	max-width: 900px;
	margin: auto;
}
#social-page .huffpostlabs-quiz {
	margin: 0;
}
#social-page .section-btn {
	display: block;
	margin: 30px 0;
}
#social-page section {
	border-bottom: 3px solid lightseagreen;
}
#social-page label {
	display: block;
	margin-top: 5px;
}
#social-page input {
	padding: 3px 8px;
	width: 100%;
	border: 2px solid lightblue;
}
#social-page input.ng-invalid,
#social-page input.error {
	border-color: red;
}
#social-page #share-link {
	width: 70%;
}
#social-page .input-container {
	margin: 30px;
}
#social-page section#fb-sharing-overview .btn-success,
#social-page section#customize-quiz-sharing .btn-success,
#social-page section#customize-outcome-sharing .btn-success {
	margin-top: 20px;
}
#social-page #customize-outcome-sharing .outcome {
	margin: 30px;
}
#social-page #customize-outcome-sharing .outcome img{
	width: 40px;
	height: 40px;
}
#social-page .btn-helper {
	vertical-align: bottom;
}

/********************** social-page above ******************/

/********************** contact-page  **********************/
#contact-page {
	min-height: 600px;
	text-align: center;
	font-size: 16px;
	padding-top: 160px;
}



/********************** contact-page above ******************/














