<!DOCTYPE html>
<html lang="en" ng-app="QuizApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Quiz at the Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quiz Widget App: Create custom quizzes and embed them on your page.">
    <meta name="author" content="Alex Berke at Huffpost Labs">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- stylesheets -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">


    <!-- javascript -->
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    -->
    
    <script src="/lib/jquery.min.js"></script>
    
    <!-- angular 1.2 has route as its own module -->
    <!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
     -->
     <script src="/lib/angular/angular.min.js"></script>
     <script src="/lib/angular/angular-route.min.js"></script>


    <script src="/js/app.js"></script>
    <script src="/js/routes.js"></script>
	<script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/factories.js"></script>

</head>
<body ng-controller="MainCntl">
    <div class="header">
        <!-- it either shows error bar or nav bar -->
        
        <div class='error' ng-if="unauthorized">
            Unauthorized - <a href="" ng-click="login()" id="login-button">Sign In</a> and try again
        </div>
        
        <span ng-if="!unauthorized">
            <nav>
                <img class="brand" src="/img/labs.png"></img>
                <ul class="nav nav-pills pull-right">
                    
                    <li><a href="" ng-click="goTo('/')">HOME</a></li>
                    <li><a href="" ng-show="!user" ng-click="login()" id="login-button">Sign In</a></li>
                    <li><a href="" ng-show="user" ng-click="logout()" id="logout-button">Sign Out</a></li>
                    <li ng-class="{active: (page=='help')}">
                        <a ng-href="{{location.path()}}" class="dropdown-toggle" data-toggle="dropdown">Directory <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="goTo('/user/all')">Users</a></li>
                            <li><a href="" ng-click="goTo('/all-quizzes')">All Quizzes</a></li>
                            <li>
                                <a href="" ng-click="goTo('/documentation')">Documentation</a>
                            </li>
                            <li><a href="" ng-click="goTo('/contact')">Contact The Lab</a></li>
                        </ul>
                    </li>
                    <li><a href="https://github.com/aberke/quiz-widgets" id="source-code-link">Source Code</a></li>
                </ul>
            </nav>
        <span class='username'>{{user.twitter_displayname||user.twitter_username}}</span>
        </span>
    </div>

    <div class='container' id='view' ng-view></div>

    <footer>
        <img src="/img/labs.png"></img>
    </footer>

    <script src="/lib/bootstrap/js/tooltip.js"></script>
    <script src="/lib/bootstrap/js/popover.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
