<!-- edit trivia-quiz page -->


<div id='edit-page' class='view row'>

<div id='build-container' class='col-md-9'>

	<section id='preview-widget'>
		<div class="huffpostlabs-quiz" ng-class="{'mobile':viewMobile}" id="{{quiz._id}}"></div>
		<script src="/widget/q.js"></script>
	</section>

	<!-- ********************* set-quiz *********************  -->
	<section id='set-quiz'>
		<edit-quiz-partial></edit-quiz-partial>

		<button ng-disabled="(!quiz.saved || quiz.saved!='unsaved')" ng-click="saveQuiz()" class='btn btn-sm btn-success'>SAVE QUIZ</button>
		<p ng-class="{'error': (quiz.saved=='error')}" class='inline-block btn-helper saved-status-text'>{{quiz.saved}}</p>
	</section> 
	<!-- ********************* set-quiz *********************  -->


	<!-- ********************* set-questions *********************  -->
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have up to 4 answers.">
<!-- 
	REPLACE WITH ONCE UNLIMITED ANSWERS COMPLETE
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have unlimited answers, but we warn you that scroll bars do not show up on mobile until the user touches the screen (this is a web browser problem, not a quiz problem)."> -->
		<h3>
			<button ng-show="!hideQuestions" ng-click="hideQuestions=true" class='btn btn-default hide-show-btn'> - </button>
			<button ng-show="hideQuestions" ng-click="hideQuestions=false" class='btn btn-default hide-show-btn'> + </button>
			Questions
			<em class='instructions-text'>({{quiz.questionList.length}})</em>
		</h3>
		<edit-questions-partial ng-show="!hideQuestions"></edit-questions-partial>
	</section> <!-- ********************* set-questions *********************  -->

	<!-- ********************* set-trivia-outcomes *********************  -->
	<section id='set-outcomes'>
		<h3>
			<button ng-show="!hideOutcomes" ng-click="hideOutcomes=true" class='btn btn-default hide-show-btn'> - </button>
			<button ng-show="hideOutcomes" ng-click="hideOutcomes=false" class='btn btn-default hide-show-btn'> + </button>
			Outcomes
			<em class='instructions-text'>({{quiz.outcomeList.length}})</em>
		</h3>
		<span ng-show="!hideOutcomes">
			<span class='instructions-text'>
				<p>These are optional.</p>
				<p><strong>Example use case:</strong> Quiz taker got...</p>
				<ul>
					<li>0 correct and you want to let them know how lame that is</li>
					<li>5/6 correct and you want to congratulate them and let them share their stellar performance on the Facebook.</li>
				</ul>
				<p>If a result is not supplied for the quiz taker's number of correct answers, then just the <strong>#/total</strong> text will be shown</p>
			</span>
			<edit-outcomes-partial></edit-outcomes-partial>
		</span>
		
	</section> <!-- ********************* set-trivia-outcomes *********************  -->
	

	<!-- ********************* set-answer-key *********************  -->
	<section ng-if="quiz.type=='trivia-quiz'" id='set-answer-key'>
		<h3 class='display-inline' ng-class="{'error':quiz.error.extraSlide}" >
			<button ng-show="!quiz.extraSlide" ng-click="addExtraSlide()" class='btn btn-default hide-show-btn'> Add </button>
			Answer Key
			<span style="margin-left:5px;" ng-show="!quiz.extraSlide" class='inline-block btn-helper'>(optional)</span>
		</h3>
		<edit-answer-key-partial ng-show="quiz.extraSlide!=null&&quiz.extraSlide!=undefined"></edit-answer-key-partial>
	</section> <!-- ********************* set-extra-slide *********************  -->
	
	<!-- ********************* preview-again *********************  -->
	<section id='preview-again'>
		<button ng-click="scrollToTop()" class='btn btn-info btn-lg'>View Newly Saved Quiz</button>
	</section> <!-- ********************* preview-again *********************  -->

</div> <!-- #build-container col-md-9 -->

<div id='helper-container' class='col-md-3'>
	
	<button id='view-mobile-btn' ng-show="!viewMobile" ng-click="viewMobile=true" class='btn btn-default'>View Mobile Version</button>
	<button id='view-non-mobile-btn' ng-show="viewMobile" ng-click="viewMobile=false" class='btn btn-default'>View Non-Mobile Version</button>

	<section id='instructions'>
		<h4>Documentation</h4>
		<ul>
			<li ng-repeat="(docString,doc) in docDictionary">
				<a target="_blank" ng-href="/documentation/{{docString}}">{{doc.title}}</a>
			</li>
			<li>
				<a target="_blank" href="/documentation">All Documentation</a>
			</li>
		</ul>
		<h5>Basics:</h5>
		<div class='instructions-text'>
			<p>All changes saved on this page will immediately go live.</p>

			<p>Quiz dimensions:
				<ul>
					<li>Full size: 550px x 425px</li>
					<li>Mobile size: 300px x 270px</li>
				</ul>
			</p>

			<p>YOU ARE HELD RESPONSIBLE FOR ADHERING TO PHOTO STANDARDS AND ATTRIBUTING CREDIT.</p>
		</div>
		<h5>Customize:</h5>
		<div class='instructions-text'>
			<p>All input fields take HTML.  Refer to <a target="_blank" href="/documentation">documentation</a> for more details</p>

			<p>After you create the quiz you can customize how it is shared on Facebook</p>
		</div>
	</section>
</div> <!-- col-md-3 on the right -->

<link href="/widget/widget.css" rel="stylesheet">
</div>