<!-- quiz edit page -->

<div id='edit-page' class='view row'>

<div id='build-container' class='col-md-9'>

	<section id='preview-widget'>
		<div class="huffpostlabs-quiz" ng-class="{'mobile':viewMobile}" id="{{quiz._id}}"></div>
		<script src="/widget/q.js"></script>
	</section>

	<!-- ********************* set-quiz *********************  -->
	<section id='set-quiz'>
		<edit-quiz-partial></edit-quiz-partial>

		<button ng-disabled="(!quiz.saved || quiz.saved!='unsaved')" ng-click="saveQuiz()" class='btn btn-sm btn-success'>SAVE QUIZ</button>
		<p ng-class="{'error': (quiz.saved=='error')}" class='inline-block btn-helper saved-status-text'>{{quiz.saved}}</p>
	</section> 
	<!-- ********************* set-quiz *********************  -->

	<!-- ********************* set-outcomes *********************  -->
	<section id='set-outcomes'>
	<h3>
		<button ng-show="!hideOutcomes" ng-click="hideOutcomes=true" class='btn btn-default hide-show-btn'> - </button>
		<button ng-show="hideOutcomes" ng-click="hideOutcomes=false" class='btn btn-default hide-show-btn'> + </button>
		Outcomes
		<em class='instructions-text'>({{quiz.outcomeList.length}})</em>
	</h3>
	<edit-outcomes-partial ng-show="!hideOutcomes"></edit-outcomes-partial>
	</section> <!-- ********************* set-outcomes *********************  -->

	<!-- ********************* set-questions *********************  -->
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="A quiz must have at least 1 question.  Questions can currently have 2-4 answers.  We are in the process of making this number unlimited.">
		<h3>
			<button ng-show="!hideQuestions" ng-click="hideQuestions=true" class='btn btn-default hide-show-btn'> - </button>
			<button ng-show="hideQuestions" ng-click="hideQuestions=false" class='btn btn-default hide-show-btn'> + </button>
			Questions
			<em class='instructions-text'>({{quiz.questionList.length}})</em>
		</h3>
		<edit-questions-partial ng-show="!hideQuestions"></edit-questions-partial>
	</section> <!-- ********************* set-questions *********************  -->


	<section id='preview-again'>
		<button ng-click="scrollToTop()" class='btn btn-info btn-lg'>View Newly Saved Quiz</button>
	</section> <!-- ********************* preview-again *********************  -->


</div> <!-- #build-container col-md-9 -->

<div id='helper-container' class='col-md-3'>
	
	<button ng-show="!viewMobile" ng-click="viewMobile=true" class='btn btn-default'>View Mobile Version</button>
	<button ng-show="viewMobile" ng-click="viewMobile=false" class='btn btn-default'>View Non-Mobile Version</button>

	<section id='instructions'>
		<h4>Documentation</h4>
		<ul>
			<li ng-repeat="(docString,doc) in docDictionary">
				<a target="_blank" ng-href="/documentation/{{docString}}">{{doc.title}}</a>
			</li>
			<li>
				<a target="_blank" href="/documentation">All Documentation</a>
			</li>
		</ul>
		<h5>Basics:</h5>
		<div class='instructions-text'>
			<p>All changes saved on this page will immediately go live.</p>
			<p>Here's how it works:<ul>
				<li>You create a set of 'outcomes' -- the possible results of the quiz.</li>
				<li>You create a series of questions and each of those questions has a set of answers.  If a user picks a given answer, that answer adds a 'point' to one of the outcomes you created.</li>
				<li>At the end of the quiz, whichever outcome has the most 'points' will be the outcome for that user.  (Avoid the possibility of a tie).  You create the outcomes, the questions, the answers, and decide which outcome a given answer adds a 'point' to.</li>
			</ul></p>

			<p>Quiz dimensions:
				<ul>
					<li>Full size: 550px x 425px</li>
					<li>Mobile size: 300px x 270px</li>
				</ul>
			</p>

			<p>YOU ARE HELD RESPONSIBLE FOR ADHERING TO PHOTO STANDARDS AND ATTRIBUTING CREDIT.</p>

			<p>After you create the quiz you can customize how it is shared on Facebook</p>
		</div>
	</section>
</div> <!-- col-md-3 on the right -->

<link href="/widget/widget.css" rel="stylesheet">
</div>