<div id='index-page'>
    

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>
                          <button ng-click="newPage()" type="button" class="btn btn-default">Create New</button>
                      </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quiz in userQuizes">
                        
                        <td class="quiz-discard"><button ng-disabled="quiz.galleryItem && quiz.galleryItem.status!='rejected'" ng-click="discardquiz(quiz)" type="button" class="btn btn-danger">X</button></td>

                        <td class="quiz-title text-left">
                          <a ng-href="/quiz/{{quiz._id}}">{{quiz.title}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
    
</div>
