<div id='index-page'>

  <div class='row' id='welcome-container'>

    <div class='col-md-6'>
      <h1 id='product-title'>Quiz Widget<span id='mvp'>BETA</span></h1>

      <div class='instructions-text'>
        <p>USE AT YOUR OWN RISK: This product has not been fully tested.</p>
        <p>Report bugs, share ideas, send questions, or send affirmations, to <a href="mailto:alexandra.berke@huffingtonpost.com?subject=[Quiz%20App%20BUG Report]">alexandra.berke@huffingtonpost.com</a>.</p>
        <p> -- Let's go viral</p>
      </div>
    </div>


    <div class='col-md-6 right instructions-text'>
      <p>View performance,
        <br/>Refine and edit,
        <br/>Play with
        <br/><a href="" ng-click="scrollToById('all-quizzes-include')">existing quizzes</a> below
        <br/>
          
        <a ng-if="user" href="" ng-click="goTo('/new')" id='create-new-btn' class='btn btn-xs btn-default'>CREATE NEW</a>

        <p ng-if="!user">
          <a ng-click="login()" id='sign-in-btn' class='btn btn-xs btn-default'>SIGN IN</a> with your team's twitter account
        </p>
      </p>
    </div>  

</div> <!-- welcome-container -->

<a href="" ng-click="scrollToById('all-quizzes-include')" id='view-all-quizzes-btn'>All Quizzes</a>
<ng-include id="all-quizzes-include" src="'/html/all-quizzes.html'"></ng-include>
    

</div>







