<div id='index-page'>

  <div class='row' id='welcome-container'>

    <!-- Dont delete this announcement container due to page height styling reasons; just empty it and repopulate it  -->
    <div class='announcement' style="font-size:24px"></div>

    <div class='col-md-6'>
      <h1 id='product-title'>Quiz Widget<span id='mvp'>BETA</span></h1>

      <div class='instructions-text'>
        <p>USE AT YOUR OWN RISK: This product has not been fully tested.</p>
        <p>Read the <a href="/documentation">documentation</a> before use.</p>
        <p> -- Let's go viral</p>
      </div>
    </div>


    <div class='col-md-6 right instructions-text'>
      <p>View performance,
        <br/>Refine and edit,
        <br/>Play with
        <br/><a href="" ng-click="scrollToById('quizzes')">existing quizzes</a> below
        <br/>
          
        <button ng-if="user" ng-click="goTo('/new/default-quiz')" class='btn btn-xs btn-default create-new-btn'>CREATE NEW QUIZ</button>
        <button ng-if="user" ng-click="goTo('/new/trivia-quiz')" class='btn btn-xs btn-default create-new-btn'>CREATE NEW TRIVIA</button>

        <p ng-if="!user">
          <a ng-click="login()" id='sign-in-btn' class='btn btn-xs btn-default'>SIGN IN</a> with your team's twitter account
        </p>
      </p>
    </div>  

</div> <!-- welcome-container -->


<span ng-if="user&&user.quizList.length">
  <a href="" ng-click="scrollToById('quizzes')" class='view-quizzes-btn'>Your Quizzes</a>
  <quizzes id='quizzes' owner="user._id"></quizzes>
</span>
   

<!-- user might have no quizzes... -->
<span ng-if="!user||!user.quizList.length">
  <a href="" ng-click="scrollToById('quizzes')" class='view-quizzes-btn'>All Quizzes</a>
  <quizzes id='quizzes' owner="null"></quizzes>
</span>

</div>







