<!-- new trivia-quiz creation page -->


<div id='new-page' class='view row'>

<div id='build-container' class='col-md-9'>

	<!-- ********************* set-quiz *********************  -->
	<section edit-quiz-partial id='set-quiz'></section> 
	<!-- ********************* set-quiz *********************  -->
	

	<!-- ********************* set-questions *********************  -->
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have up to 4 answers.">
<!-- 
	REPLACE WITH ONCE UNLIMITED ANSWERS COMPLETE
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have unlimited answers, but we warn you that scroll bars do not show up on mobile until the user touches the screen (this is a web browser problem, not a quiz problem)."> -->
		<h3 class='display-inline'>
			Questions
			<em class='instructions-text'>({{quiz.questionList.length}})</em>
		</h3>

		<edit-questions-partial></edit-questions-partial>
	</section> <!-- ********************* set-questions *********************  -->

	<!-- ********************* set-trivia-outcomes *********************  -->
	<section id='set-outcomes'>
		<h3>
			Outcomes
			<em class='instructions-text'>({{quiz.outcomeList.length}})</em>
		</h3>
		<span class='instructions-text'>
			<p>These are optional.</p>
			<p><strong>Example use case:</strong> Quiz taker got...</p>
			<ul>
				<li>0 correct and you want to let them know how lame that is</li>
				<li>5/6 correct and you want to congratulate them and let them share their stellar performance on the Facebook.</li>
			</ul>
			<p>If a result is not supplied for the quiz taker's number of correct answers, then just the <strong>#/total</strong> text will be shown</p>
		</span>
		<edit-outcomes-partial ng-show="!hideOutcomes"></edit-outcomes-partial>
		
	</section> <!-- ********************* set-trivia-outcomes *********************  -->
	

	<!-- ********************* set-extra-slide *********************  -->
	<section ng-if="quiz.type=='trivia-quiz'" id='set-extra-slide'>
		<h3 class='display-inline' ng-class="{'error':quiz.error.extraSlide}" >
			<button ng-show="!quiz.extraSlide" ng-click="addExtraSlide()" class='btn btn-default hide-show-btn'> Add </button>
			Answer Key
			<span style="margin-left:5px;" ng-show="!quiz.extraSlide" class='inline-block btn-helper'>(optional)</span>
		</h3>
		<edit-answer-key-partial ng-show="quiz.extraSlide!=null&&quiz.extraSlide!=undefined"></edit-answer-key-partial>
	</section> <!-- ********************* set-extra-slide *********************  -->

	<!-- ********************* set-complete *********************  -->
	<section id='set-complete'>
		<h3 id='ready-text' ng-show="quiz.title&&quiz.questionList.length&&quiz.outcomeList.length">Ready, set...</h3>
		
		<h3 id='still-required-text' ng-show="!quiz.title||!quiz.questionList.length||!quiz.outcomeList.length">Still Required:</h3>
			<p id='still-required-title' ng-show="!quiz.title">Title</p>
			<p id='still-required-outcome' ng-show="!quiz.outcomeList.length&&quiz.type!='trivia-quiz'">At least 1 Outcome</p>
			<p id='still-required-question' ng-show="!quiz.questionList.length">At least 1 Question</p>

			<!-- error text and fix buttons -->
			<p class='error' ng-show="quiz.error.question">
				<button ng-click="scrollToById('set-questions')" class='btn btn-xs btn-danger'>FIX</button>
				You've got some issues with your questions
			</p>
			<p class='error' ng-show="quiz.error.outcome">
				<button ng-click="scrollToById('set-outcomes')" class='btn btn-xs btn-danger'>FIX</button>
				Not so fast.  You've got some empty outcomes
			</p>

			<p class='instructions-text' ng-show="quiz.saved">{{quiz.saved}}</p>

		<button id='create-quiz-btn' ng-disabled="!quiz.title||!quiz.questionList.length||(!quiz.outcomeList.length&&quiz.type!='trivia-quiz')||quiz.saved=='saving'||quiz.error.outcome||quiz.error.question" ng-click="createQuiz()" class='btn btn btn-success'>Create Quiz</button>
		<p class='inline-block btn-helper'>First preview the mobile version!</p>
	</section> <!-- ********************* set-complete *********************  -->

</div> <!-- #build-container col-md-9 -->

<div id='helper-container' class='col-md-3'>
	
	<button id='view-mobile-btn' ng-show="!viewMobile" ng-click="viewMobile=true" class='btn btn-default'>View Mobile Version</button>
	<button id='view-non-mobile-btn' ng-show="viewMobile" ng-click="viewMobile=false" class='btn btn-default'>View Non-Mobile Version</button>

	<section id='instructions'>
		<h4>Documentation</h4>
		<ul>
			<li ng-repeat="(docString,doc) in docDictionary">
				<a target="_blank" ng-href="/documentation/{{docString}}">{{doc.title}}</a>
			</li>
			<li>
				<a target="_blank" href="/documentation">All Documentation</a>
			</li>
		</ul>
		<h5>Basics:</h5>
		<div class='instructions-text'>
			<p>All changes saved on this page will immediately go live.</p>

			<p>Quiz dimensions:
				<ul>
					<li>Full size: 550px x 425px</li>
					<li>Mobile size: 300px x 270px</li>
				</ul>
			</p>

			<p>YOU ARE HELD RESPONSIBLE FOR ADHERING TO PHOTO STANDARDS AND ATTRIBUTING CREDIT.</p>
		</div>
		<h5>Customize:</h5>
		<div class='instructions-text'>
			<p>All input fields take HTML.  Refer to <a target="_blank" href="/documentation">documentation</a> for more details</p>

			<p>After you create the quiz you can customize how it is shared on Facebook</p>
		</div>
	</section>
</div> <!-- col-md-3 on the right -->

<link href="/widget/widget.css" rel="stylesheet">
</div>