<!-- new quiz creation page -->


<div id='new-page' class='view row'>

<div id='build-container' class='col-md-9'>

	<!-- ********************* set-quiz *********************  -->
	<section id='set-quiz'>
		<edit-quiz-partial></edit-quiz-partial>
	</section> 
	<!-- ********************* set-quiz *********************  -->

	<!-- ********************* set-outcomes *********************  -->
	<section id='set-outcomes'>
	<h3>
		Outcomes
		<em class='instructions-text'>({{quiz.outcomeList.length}})</em>
	</h3>
	<edit-outcomes-partial ng-show="!hideOutcomes"></edit-outcomes-partial>
	</section> <!-- ********************* set-outcomes *********************  -->

	<!-- ********************* set-questions *********************  -->
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have up to 4 answers.">
<!-- 
	REPLACE WITH ONCE UNLIMITED ANSWERS COMPLETE
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have unlimited answers, but we warn you that scroll bars do not show up on mobile until the user touches the screen (this is a web browser problem, not a quiz problem)."> -->
		<h3>
			Questions
			<em class='instructions-text'>({{quiz.questionList.length}})</em>
		</h3>
		<edit-questions-partial></edit-questions-partial>
	</section> <!-- ********************* set-questions *********************  -->
	

	<!-- ********************* set-complete *********************  -->
	<section id='set-complete'>
		<h3 id='ready-text' ng-show="quiz.title&&quiz.questionList.length&&quiz.outcomeList.length">Ready, set...</h3>
		
		<h3 id='still-required-text' ng-show="!quiz.title||!quiz.questionList.length||!quiz.outcomeList.length">Still Required:</h3>
			<p id='still-required-title' ng-show="!quiz.title">Title</p>
			<p id='still-required-outcome' ng-show="!quiz.outcomeList.length">At least 1 Outcome</p>
			<p id='still-required-question' ng-show="!quiz.questionList.length">At least 1 Question</p>

			<!-- error text and fix buttons -->
			<p class='error' ng-show="quiz.error.question">
				<button ng-click="scrollToById('set-questions')" class='btn btn-xs btn-danger'>FIX</button>
				You've got some issues with your questions
			</p>
			<p class='error' ng-show="quiz.error.outcome">
				<button ng-click="scrollToById('set-outcomes')" class='btn btn-xs btn-danger'>FIX</button>
				Not so fast.  You've got some empty outcomes
			</p>

			<p class='instructions-text' ng-show="quiz.saved">{{quiz.saved}}</p>

		<button id='create-quiz-btn' ng-disabled="!quiz.title||!quiz.questionList.length||!quiz.outcomeList.length||quiz.saved=='saving'||quiz.error.outcome||quiz.error.question" ng-click="createQuiz()" class='btn btn btn-success'>Create Quiz</button>
		<p class='inline-block btn-helper'>First preview the mobile version!</p>
	</section> <!-- ********************* set-complete *********************  -->

</div> <!-- #build-container col-md-9 -->

<div id='helper-container' class='col-md-3'>
	
	<button ng-show="!viewMobile" ng-click="viewMobile=true" class='btn btn-default'>View Mobile Version</button>
	<button ng-show="viewMobile" ng-click="viewMobile=false" class='btn btn-default'>View Non-Mobile Version</button>

	<section id='instructions'>
		<h4>Documentation</h4>
		<ul>
			<li ng-repeat="(docString,doc) in docDictionary">
				<a target="_blank" ng-href="/documentation/{{docString}}">{{doc.title}}</a>
			</li>
			<li>
				<a target="_blank" href="/documentation">All Documentation</a>
			</li>
		</ul>
		<h5>Basics:</h5>
		<div class='instructions-text'>
			<p>All changes saved on this page will immediately go live.</p>
			<p>Here's how it works:<ul>
				<li>You create a set of 'outcomes' -- the possible results of the quiz.</li>
				<li>You create a series of questions and each of those questions has a set of answers.  If a user picks a given answer, that answer adds a 'point' to one of the outcomes you created.</li>
				<li>At the end of the quiz, whichever outcome has the most 'points' will be the outcome for that user.  (Avoid the possibility of a tie).  You create the outcomes, the questions, the answers, and decide which outcome a given answer adds a 'point' to.</li>
			</ul></p>

			<p>Quiz dimensions:
				<ul>
					<li>Full size: 550px x 425px</li>
					<li>Mobile size: 300px x 270px</li>
				</ul>
			</p>

			<p>YOU ARE HELD RESPONSIBLE FOR ADHERING TO PHOTO STANDARDS AND ATTRIBUTING CREDIT.</p>

			<p>After you create the quiz you can customize how it is shared on Facebook</p>
		</div>
	</section>
</div> <!-- col-md-3 on the right -->

<link href="/widget/widget.css" rel="stylesheet">
</div>