<!-- new quiz creation page -->


<div id='new-page' class='view row'>

<div id='build-container' class='col-md-9'>

	<!-- ********************* set-quiz *********************  -->
	<section edit-quiz-partial id='set-quiz'></section> 
	<!-- ********************* set-quiz *********************  -->

	<!-- ********************* set-outcomes *********************  -->
	<section id='set-outcomes'>
		<h3>
			Outcomes
			<em class='instructions-text'>({{quiz.outcomeList.length}})</em>
		</h3>
		
		<div class="outcome" ng-class="{'editing':(outcome.editing)}" ng-repeat="outcome in quiz.outcomeList">
			<p class='bold display-inline'>{{$index + 1}}.</p>
			<p class="bold error display-inline" ng-show="outcome.error.empty">Hey this outcome is empty</p>

			<div class='remove-edit-btns'>
				<p ng-show="outcome.answerList.length==1" class='display-inline btn-helper'>1 answer references this outcome</p>
				<p ng-show="outcome.answerList.length>1" class='display-inline btn-helper'>{{outcome.answerList.length}} answers reference this outcome</p>
				<button ng-show="!outcome.answerList.length" ng-disabled="outcome.answerList.length>0" ng-click="removeOutcome(outcome)" class='btn btn-xs btn-danger remove-outcome'>X</button>
				
				<button ng-show="!outcome.editing" ng-click="outcome.editing=true" class='btn btn-xs btn-warning edit-outcome'>EDIT</button>
				<button ng-show="outcome.editing" ng-click="saveOutcome(outcome)" class='btn btn-xs btn-success'>OK</button>
			</div>

			<span ng-show="outcome.editing==true" class='edit-outcome-container'>			
				<label>Text</label>
				<input ng-change="outcome.saved='unsaved';outcome.error.text=false" ng-class="{'error':outcome.error.text}" type='text' ng-model='outcome.text' />

				<label>Description</label>
				<textarea maxlength="250" ng-change="outcome.saved='unsaved'" ng-model='outcome.description'></textarea>

				<img-input-label max-size="600" model="outcome"></img-input-label>
				<input ng-change="outcome.saved='unsaved'" id='outcome-pic-url' type="url" ng-model="outcome.pic_url" placeholder="http://dogecoin.com/img/dogecoin-300.png">

				<span ng-show="outcome.pic_url">
					<label>Photo Credit</label>
					<input ng-change="outcome.saved='unsaved'" id='new-outcome-pic-credit' type='text' ng-model='outcome.pic_credit' />

					<label>Image/GIF styling</label>
					<select ng-change="outcome.saved='unsaved'" class="popover-hover" data-original-title="Image/GIF Styling" data-container="body" data-toggle="popover" data-placement="right" data-content="Default: bottom-right" ng-model='outcome.pic_style' ng-options="s for s in ['bottom-right', 'float-right', 'cover', 'contain']" >
					</select>
				</span>
			</span>

			<div class="huffpostlabs-quiz quiz-edit" ng-class="{'mobile':viewMobile}">
				<div class="slides-container">
					<!-- directive fills in the content -->
					<div outcome-container class="slide outcome-container"></div>
				</div>
			</div>
		</div>

		<button ng-click="addOutcome()" id='add-outcome-btn' class='btn btn-sm btn-default'>+ Give me more</button>
	</section> <!-- ********************* set-outcomes *********************  -->

	<!-- ********************* set-questions *********************  -->
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have up to 4 answers.">
<!-- 
	REPLACE WITH ONCE UNLIMITED ANSWERS COMPLETE
	<section id='set-questions' class="popover-hover" data-original-title="Question" data-container="body" data-toggle="popover" data-placement="right" data-content="Questions can have unlimited answers, but we warn you that scroll bars do not show up on mobile until the user touches the screen (this is a web browser problem, not a quiz problem)."> -->
		<h3 class='display-inline'>
			Questions
			<em class='instructions-text'>({{quiz.questionList.length}})</em>
		</h3>
		<edit-questions-partial></edit-questions-partial>
	</section> <!-- ********************* set-questions *********************  -->
	

	<!-- ********************* set-complete *********************  -->
	<section id='set-complete'>
		<h3 id='ready-text' ng-show="quiz.title&&quiz.questionList.length&&quiz.outcomeList.length">Ready, set...</h3>
		
		<h3 id='still-required-text' ng-show="!quiz.title||!quiz.questionList.length||!quiz.outcomeList.length">Still Required:</h3>
			<p id='still-required-title' ng-show="!quiz.title">Title</p>
			<p id='still-required-outcome' ng-show="!quiz.outcomeList.length">At least 1 Outcome</p>
			<p id='still-required-question' ng-show="!quiz.questionList.length">At least 1 Question</p>

			<!-- error text and fix buttons -->
			<p class='error' ng-show="quiz.error.question">
				<button ng-click="scrollToById('set-questions')" class='btn btn-xs btn-danger'>FIX</button>
				You've got some issues with your questions
			</p>
			<p class='error' ng-show="quiz.error.outcome">
				<button ng-click="scrollToById('set-outcomes')" class='btn btn-xs btn-danger'>FIX</button>
				Not so fast.  You've got some empty outcomes
			</p>

			<p class='instructions-text' ng-show="quiz.saved">{{quiz.saved}}</p>

		<button id='create-quiz-btn' ng-disabled="!quiz.title||!quiz.questionList.length||!quiz.outcomeList.length||quiz.saved=='saving'||quiz.error.outcome||quiz.error.question" ng-click="createQuiz()" class='btn btn btn-success'>Create Quiz</button>
		<p class='inline-block btn-helper'>First preview the mobile version!</p>
	</section> <!-- ********************* set-complete *********************  -->

</div> <!-- #build-container col-md-9 -->

<div id='helper-container' class='col-md-3'>
	
	<button id='view-mobile-btn' ng-show="!viewMobile" ng-click="viewMobile=true" class='btn btn-default'>View Mobile Version</button>
	<button id='view-non-mobile-btn' ng-show="viewMobile" ng-click="viewMobile=false" class='btn btn-default'>View Non-Mobile Version</button>

	<section id='instructions'>
		<h4>Documentation</h4>
		<ul>
			<li ng-repeat="(docString,doc) in docDictionary">
				<a target="_blank" ng-href="/documentation/{{docString}}">{{doc.title}}</a>
			</li>
			<li>
				<a target="_blank" href="/documentation">All Documentation</a>
			</li>
		</ul>
		<h5>Basics:</h5>
		<div class='instructions-text'>
			<p>All changes saved on this page will immediately go live.</p>
			<p>Here's how it works:<ul>
				<li>You create a set of 'outcomes' -- the possible results of the quiz.</li>
				<li>You create a series of questions and each of those questions has a set of answers.  If a user picks a given answer, that answer adds a 'point' to one of the outcomes you created.</li>
				<li>At the end of the quiz, whichever outcome has the most 'points' will be the outcome for that user.  (Avoid the possibility of a tie).  You create the outcomes, the questions, the answers, and decide which outcome a given answer adds a 'point' to.</li>
			</ul></p>

			<p>Quiz dimensions:
				<ul>
					<li>Full size: 550px x 425px</li>
					<li>Mobile size: 300px x 270px</li>
				</ul>
			</p>

			<p>YOU ARE HELD RESPONSIBLE FOR ADHERING TO PHOTO STANDARDS AND ATTRIBUTING CREDIT.</p>

			<p>After you create the quiz you can customize how it is shared on Facebook</p>
		</div>
	</section>
</div> <!-- col-md-3 on the right -->

<link href="/widget/widget.css" rel="stylesheet">
</div>