
<!-- show the stats for which answers were chosen when -->

<div id='quiz-page' class='view'>

<h5 class='disclaimer'>The Statistics below will under report for quizzes that go viral</h5>
<h5 class='disclaimer'><strong>NOTE: All Stats logging was temporarily shut off between 3/31 5:30pm and 4/1 7pm due to performance concerns</strong></h5>

<!-- the count stats -->
<section id='stats'>
	<div class='row' id='quiz-stats'>
		<div class='col-md-6'>
			<h3>Quiz</h3>
			<div>
				<label>Started</label>
				<span>{{stats.started || 0}}</span>
			</div>
			<div>
				<label>Completed</label>
				<span>{{stats.completed || 0}}</span>
			</div>
			<div>
				<label>Restarted</label>
				<span>{{stats.restarted || 0}} <span class='warning'>(as of 4/1 7pm)</span></span>
			</div>
			<div>
				<label>Facebook Shares</label>
				<span>{{quiz.share.fbCount || 0}}</span>
			</div>
			<div>
				<label>Twitter Shares</label>
				<span>{{quiz.share.twitterCount || 0}}</span>
			</div>
		</div>
		<div class='col-md-6'>
			<h3>Quiz + All Outcomes</h3>
			<div>
				<label>Facebook Shares</label>
				<span>{{totalSharesFB}}</span>
			</div>
			<div>
				<label>Twitter Shares</label>
				<span>{{totalSharesTwitter}}</span>
			</div>
		</div>

	</div>


	<div id='outcome-stats'>
		<h4>Outcome Stats</h4>
		
		<table class="table table-hover">
		    <thead>
		        <tr>
		            <th>Outcome</th>
		            <th>Count</th>
		            <th>Facebook Shares</th>
		            <th>Twitter Shares</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="o in quiz.outcomeList">
		            <td class="text"><img class='outcome-pic' height="20px" ng-src={{o.pic_url}}></img>{{o.text}}</td>
		            <td class="number">{{stats.Outcome[o._id] || 0}}</td>
		            <td class="number">{{o.share.fbCount || 0}}</td>
		            <td class="number">{{o.share.twitterCount || 0}}</td>
		        </tr>
		    </tbody>
		</table>
	</div>

	<div id='answer-stats'>
		<h4>Answer Stats</h4>
		<table class="table table-hover">
		    <thead>
		        <tr>
		            <th>Question</th>
		            <th>Answer 1</th>
		            <th>Answer 2</th>
		            <th>Answer 3</th>
		            <th>Answer 4</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="q in quiz.questionList">
		            
		            <td class="text">{{q.text}}</td>

		            <td ng-repeat="a in q.answerList">
		            	<span class='number'>{{stats.Answer[a._id] || 0}}: </span>
		            	<span class='text'>{{a.text}}</span>
		            </td>
		        </tr>
		    </tbody>
		</table>
	</div>

</section>

<!-- the quiz widget -->
<section id='quiz-widget'>
	<div class="huffpostlabs-quiz" id="{{quiz._id}}"></div>
	<script src="/widget/q.js"></script>
</section>

<!-- the embed code -->
<section id='quiz-embed'>
	<h4>Embed</h4>
	<pre>&lt;div class="huffpostlabs-quiz" id="{{quiz._id}}"&gt;&lt;/div&gt;&lt;script src="http://quiz.huffingtonpost.com/widget/q.js"&gt;&lt;/script&gt;&lt;p id="labs-credit"&gt;&lt;a href="http://code.huffingtonpost.com"&gt;Quiz widget by &lt;img height="23px" src="http://quiz.huffingtonpost.com/img/huffpostLABS_outline.png" /&gt;&lt;/a&gt;&lt;/p&gt;</pre>
</section>

<section>
	<h4>Owner: {{quiz._user.twitter_displayname || quiz._user.twitter_username || 'Orphaned quiz'}}</h4>
</section>


</div>
