<!-- all-users.html -->

<div id='all-users-page'>

	<h2 class='title'>Users</h2>

	<div id='filterBy'>
		<img src="/img/search-icon.png" />
		<input ng-model="searchText">
	</div>

	<div class="list-group">
		<div class='user-container' ng-repeat="u in userList | filter:searchText">

			<a ng-click="expand=!expand" href="" class="list-group-item" ng-class="{'active':(expand||(searchText==u.twitter_username))}">
				<span class="list-group-item-heading">
					<span class="list-group-item-text displayname">{{u.twitter_displayname}}</span>
					<span class="list-group-item-text username">@{{u.twitter_username}}</span>
				</span>
				<p class="list-group-item-text">{{u.quizList.length}} Quizzes</p>
			</a>

			<quizzes ng-if="expand||(searchText==u.twitter_username)" id='quizzes' owner="u._id"></quizzes>
		</div>

	</div>


</div>